* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: var(--font-family); <-- lembra de selecioanar uam fonte depois pf*/
  }
body
{
  background-color: #f4f4f4;
}
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  main {
    padding: 0px;
    width: 85%;
    margin: 0 auto;
}
@media (max-width: 1780px) { 
    main {
        width: 95%;
    }
}
 
@media (max-width: 1650px) { 
    main {
        width: 100%;
    }
}