:root {
    --white: #fff;
    --whatsapp_color: #25d366; /*#53AD50; <-- caso a cor nao agrade usar esta*/
    --primary_color: #067406;
    --secondary_color: #007081;
    --color-title: #333;
    --color-subtile: rgb(240, 255, 248);
}