
main.container_servicos
{
    margin-top: 120px;
    background-color: var(--white);
    padding: 20px 0px 0px 0px;
    font-size: 1.2rem;
    max-width: 1800px;
}
@media (max-width: 769px) {
    main.container_servicos {
        margin-top: -50px;
    }
}

/*Titulo e container das seçoes(conteudo)*/
h1.tituloPrincipal_sevicos
{
    text-align: center;
    margin-right: 100px;
}
/*
main.container_servicos .section_servicos
{
    tava me dando agonia o amarelo ent comentei
}
*/
/*Titulo/conteudo principal das seçoes*/
main.container_servicos .container_titulo{
    margin: 2rem 0 2rem 0;
    width: 100%;
    background-image: url(../../../assets/fundoTitulo.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 32px 0 2rem 0;
    
}
main.container_servicos .container_titulo  h2.titulo_secao
{
    position: relative; 
    text-align: left;
    margin-left: 2rem;
    color: var(--white);
    padding-top: 5px; 
    
}

main.container_servicos .container_titulo p.descricao_servico 
{
    margin-left: 2.5rem;
    font-weight: 600;
    color: var(--color-subtile);
}

main.container_servicos .container_titulo  h2.titulo_secao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 4.5px; 
    background-color: var(--primary_color); 
}

/*Conteudo*/
main.container_servicos .article_servicos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem 2rem 4rem;
    gap: 2rem;
    padding-bottom: 30px;
    
}
@media (max-width: 1200px) {
    main.container_servicos .article_servicos {
        justify-items: center;
        flex-direction: column;
    }
    main.container_servicos .article_servicos.invertido {
        justify-items: center;
        flex-direction: column;
    }
}

main.container_servicos .article_servicos> div {
    width: 50%;
    
}
main.container_servicos .article_servicos div > p {
    max-width: 600px;
    margin-top: 10px;
    margin-left: 5px;
    
}
@media (max-width: 1200px) {
    main.container_servicos .article_servicos> div {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    main.container_servicos .article_servicos div > p {
        text-align: justify;
        margin-left: 20%;
    }
}
@media (max-width: 1120px) {
    main.container_servicos .article_servicos div > p {
        margin: auto;
    }
}

@media (min-width: 1200px) {
    main.container_servicos .article_servicos.invertido {
        flex-direction: row-reverse; 
    }
}


@media (min-width: 1530px) {
    main.container_servicos .article_servicos.invertido > div {
        padding-left: 7rem;
    }
}

@media (min-width: 1380px) and (max-width: 1529px) {
    main.container_servicos .article_servicos.invertido > div {

        padding-left: 3rem;
    }
}
main.container_servicos .article_servicos.invertido img {
    margin-left: 20px; 
    margin-right: 0; 
}
.article_servicos > img {
    max-width: 600px;
    box-shadow: 1px 1px 3.8px rgba(0, 0, 0, 0.308);
}
@media (max-width: 1200px) {
    .article_servicos > img {
        max-width: 550px;
    }
}

@media (max-width: 641px) {
    .article_servicos > img {
        max-width: 350px;
    }
}
