*{
    padding: 0px;
    margin: 0px;
}
main.container_servicos
{
    margin-top: 120px;
    background-color: white;
    padding: 20px 0px 20px 0px;
    font-size: 1.2rem;
    max-width: 1800px;
}

/*Titulo e container das seçoes(conteudo)*/
h1.tituloPrincipal_sevicos
{
    text-align: center;
    margin-right: 100px;
}
main.container_servicos .section_servicos
{
    
}

/*Titulo/conteudo principal das seçoes*/
main.container_servicos .container_titulo{
    margin: 2rem 0 2rem 0;
    width: 100%;
    background-color: aquamarine;
    padding: 2rem 0 2rem 0;
}
main.container_servicos .container_titulo  h2.titulo_secao
{
    position: relative; 
    text-align: left;
    margin-left: 2rem;
    color: var(--color-title);
    padding-top: 5px; 
    
}

main.container_servicos .container_titulo p.descricao_servico 
{
    margin-left: 2.5rem;
    font-weight: 600;
}

main.container_servicos .container_titulo  h2.titulo_secao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px; /* Largura da linha verde */
    height: 4.5px; /* Altura da linha verde */
    background-color: var(--primary_color); /* Cor da linha verde */
}

/*Conteudo*/
main.container_servicos .article_servicos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 4rem 2rem 4rem;
    gap: 2rem;
    
    
}

main.container_servicos .article_servicos> div {
    width: 50%;
    
}
main.container_servicos .article_servicos div > p {
    max-width: 600px;
    
}

main.container_servicos .article_servicos.invertido {
    flex-direction: row-reverse; 
}
@media (min-width: 1530px) {
    main.container_servicos .article_servicos.invertido > div {

        padding-left: 7rem; /* Ajuste conforme necessário */
    }
}

@media (min-width: 1380px) and (max-width: 1529px) {
    main.container_servicos .article_servicos.invertido > div {

        padding-left: 3rem;
    }
}
main.container_servicos .article_servicos.invertido img {
    margin-left: 20px; 
    margin-right: 0; 
}
.article_servicos > img {
    max-width: 600px;
    box-shadow: 1px 1px 3.8px rgba(0, 0, 0, 0.308);
}
